<div>
  <form action="/addCandidato" method="post">
  <label for="nome">nome:</label>
    <input type="text" name="nome">
    <label for="email">email:</label>
    <input type="email" name="email">
    <label for="empresa">empresa</label>
    <input type="text" name="empresa">
    <label for="whtUs">porque quer fazer parte?</label>
    <textarea name="whyUs"></textarea>
    <input type="submit">
  </form>
</div>