<div>
  <label for="login">login</label>
  <input type="text" name="login" id="" placeholder="ensira seu login">
  <label for="senha">senha</label>
  <input type="password" placeholder="senha">
  <button><a href="/candidatura">entrar</a></button>
</div>