<h2>Login</h2>

<div style="max-width: 400px; margin: auto;">
  <form action="/login" method="POST" style="display: flex; flex-direction: column; gap: 10px;">
    
    <label for="email">E-mail:</label>
    <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>

    <label for="senha">Senha:</label>
    <input type="password" name="senha" id="senha" placeholder="Senha" required>

    <button type="submit" style="margin-top: 10px;">Entrar</button>
  </form>

  <p style="margin-top: 1rem;">
    Ainda não tem cadastro?
    <a href="/candidatura">Clique aqui para se cadastrar</a>
  </p>

  <p style="margin-top: 0.5rem;">
    <a href="/">Voltar para Home</a>
  </p>
</div>
